header {
    text-align: center;
    padding: 1rem;
    box-shadow: 4px 6px 4px 1px #888888;
    margin-bottom: 2%;
    font-size: 2rem;
  }
  .item1 {
    grid-area: donut;
  }
  .item2 {
    grid-area: pizza;
  }
  .item3 {
    grid-area: fries;
  }
  .item4 {
    grid-area: tikka;
  }
  .item5 {
    grid-area: macroon;
  }

  .grid-container {
    display: grid;
    grid-template-areas:
      "pizza fries fries tikka tikka"
      "pizza macroon macroon donut donut ";
    grid-gap: 20px;
  }

  .grid-container > div {
    text-align: center;

    font-size: 30px;
  }

  #foodGalary {
    margin: 2%;
  }
  #foodGalary p {
    margin: 2%;
    font-size: 1.3rem;
  }
  #pizza {
    position: relative;
  }
  #pizzaDesc {
    position: absolute;
    bottom: 0;
    background-color: rgba(160, 45, 241, 0.746);
    width: 100%;
    border: 1px solid rgb(137, 9, 241);

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 50%;
  }

  #doughNut,
  #macroon,
  #pannerTikka,
  #frenchFries {
    position: relative;
    border: 1px solid rgb(252, 252, 252);
    border-radius: 25px;
  }
  #doughNutDesc,
  #macroonDesc,
  #pannerTikkaDesc,
  #frenchFriesDesc {
    position: absolute;
    bottom: 0;
    background-color: rgba(241, 237, 243, 0.822);
    width: 100%;
    height: 50%;
  }

  #doughNutDesc,
  #macroonDesc,
  #pannerTikkaDesc,
  #frenchFriesDesc {
    border: 1px solid rgb(255, 253, 253);

    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  #foodGalary img {
    border-radius: 25px;
  }
  #explore {
    display: flex;
  }
  button {
    padding: 10px;
    border: 1px solid rgba(241, 237, 243, 0);
    border-radius: 25px;
    margin-left: 3%;
    background-color: rgba(225, 219, 228, 0.15);
  }
  span {
    margin-left: 40%;
  }
  #middleImagePart {
    position: relative;
    margin: 2%;
  }
  #contentFood {
    display: flex;
    position: absolute;
    top: 30%;
  }
  #indianCuisine,
  #americanCuisine,
  #chineseCuisine {
    background-color: white;
    margin: 5px;
    padding: 2%;
    border: 1px solid white;
    border-radius: 25px;
  }

  #indianCuisine,
  #chineseCuisine {
    background-color: rgba(255, 255, 255, 0.904);
    height: 10rem;
    margin-top: 2%;
  }
  #americanCuisine {
    height: 15rem;
  }
  #Worker {
    display: flex;
    text-align: center;
    margin-left: 6%;
  }
  #Worker img {
    border-radius: 60%;
  }
  #Worker > div {
    padding: 5%;
    margin: 2%;
    width: 300px;
  }
  #Worker > div:hover {
    box-shadow: 2px 5px 2px 5px grey;
  }

  #footerContent {
    position: relative;
  }
  #contentFoodDetails {
    display: flex;
    text-align: center;
  }
  #vegetables,
  #wholeGrain,
  #fruits,
  #HealthyProtein {
    width: 15rem;
    margin: 5%;
  }
  #vegetables {
    position: absolute;
    top: 0;
  }
  #wholeGrain {
    position: absolute;
    right: 0;
    top: 0;
  }
  #fruits {
    position: absolute;
    bottom: 0;
  }
  #HealthyProtein {
    position: absolute;
    right: 0;
    bottom: 0;
  }